@model End_to_End.Models.UsersContext.UserModel

@{
    ViewBag.Title = "Home Page";
    Layout = "";

    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem { Text = "AL" });
    li.Add(new SelectListItem { Text = "AK" });
    li.Add(new SelectListItem { Text = "AZ" });
    li.Add(new SelectListItem { Text = "AR" });
    li.Add(new SelectListItem { Text = "CA" });
    li.Add(new SelectListItem { Text = "CO" });
    li.Add(new SelectListItem { Text = "CT" });
    li.Add(new SelectListItem { Text = "DE" });
    li.Add(new SelectListItem { Text = "DC" });
    li.Add(new SelectListItem { Text = "FL" });
    li.Add(new SelectListItem { Text = "GA" });
    li.Add(new SelectListItem { Text = "HI" });
    li.Add(new SelectListItem { Text = "ID" });
    li.Add(new SelectListItem { Text = "IL" });
    li.Add(new SelectListItem { Text = "IN" });
    li.Add(new SelectListItem { Text = "IA" });
    li.Add(new SelectListItem { Text = "KS" });
    li.Add(new SelectListItem { Text = "KY" });
    li.Add(new SelectListItem { Text = "LA" });
    li.Add(new SelectListItem { Text = "ME" });
    li.Add(new SelectListItem { Text = "MD" });
    li.Add(new SelectListItem { Text = "MA" });
    li.Add(new SelectListItem { Text = "MI" });
    li.Add(new SelectListItem { Text = "MN" });
    li.Add(new SelectListItem { Text = "MS" });
    li.Add(new SelectListItem { Text = "MO" });
    li.Add(new SelectListItem { Text = "MT" });
    li.Add(new SelectListItem { Text = "NE" });
    li.Add(new SelectListItem { Text = "NV" });
    li.Add(new SelectListItem { Text = "NH" });
    li.Add(new SelectListItem { Text = "NJ" });
    li.Add(new SelectListItem { Text = "NM" });
    li.Add(new SelectListItem { Text = "NY" });
    li.Add(new SelectListItem { Text = "NC" });
    li.Add(new SelectListItem { Text = "ND" });
    li.Add(new SelectListItem { Text = "OH" });
    li.Add(new SelectListItem { Text = "OK" });
    li.Add(new SelectListItem { Text = "OR" });
    li.Add(new SelectListItem { Text = "PA" });
    li.Add(new SelectListItem { Text = "RI" });
    li.Add(new SelectListItem { Text = "SC" });
    li.Add(new SelectListItem { Text = "SD" });
    li.Add(new SelectListItem { Text = "TN" });
    li.Add(new SelectListItem { Text = "TX" });
    li.Add(new SelectListItem { Text = "UT" });
    li.Add(new SelectListItem { Text = "VT" });
    li.Add(new SelectListItem { Text = "VA" });
    li.Add(new SelectListItem { Text = "WA" });
    li.Add(new SelectListItem { Text = "WV" });
    li.Add(new SelectListItem { Text = "WI" });
    li.Add(new SelectListItem { Text = "WY" });
    
    List<SelectListItem> li2 = new List<SelectListItem>();
    li2.Add(new SelectListItem { Text = "01" });
    li2.Add(new SelectListItem { Text = "02" });
    li2.Add(new SelectListItem { Text = "03" });
    li2.Add(new SelectListItem { Text = "04" });
    li2.Add(new SelectListItem { Text = "05" });
    li2.Add(new SelectListItem { Text = "06" });
    li2.Add(new SelectListItem { Text = "07" });
    li2.Add(new SelectListItem { Text = "08" });
    li2.Add(new SelectListItem { Text = "09" });
    li2.Add(new SelectListItem { Text = "10" });
    li2.Add(new SelectListItem { Text = "11" });
    li2.Add(new SelectListItem { Text = "12" });
    ViewBag.expMonth = li2;

    List<SelectListItem> li3 = new List<SelectListItem>();
    li3.Add(new SelectListItem { Text = "2014" });
    li3.Add(new SelectListItem { Text = "2015" });
    li3.Add(new SelectListItem { Text = "2016" });
    li3.Add(new SelectListItem { Text = "2017" });
    li3.Add(new SelectListItem { Text = "2018" });
    li3.Add(new SelectListItem { Text = "2019" });
    li3.Add(new SelectListItem { Text = "2020" });
    li3.Add(new SelectListItem { Text = "2021" });
    li3.Add(new SelectListItem { Text = "2022" });
    li3.Add(new SelectListItem { Text = "2023" });
    li3.Add(new SelectListItem { Text = "2024" });
    ViewBag.expYear = li3;
    
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SecureSubmit ASP.NET MVC end-to-end payment example using tokenization.">
    <meta name="author" content="Mark Hagan">
    <title>Simple Payment Form Demo</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/secure.submit-1.0.2.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>PHP SecureSubmit Example</h1>
             @using (Html.BeginForm())
                {
                    <h2>Billing Information</h2>
                    <div class="form-group">
                            @Html.Label("First Name")
                            <br />
                            @Html.TextBoxFor(x => x.FirstName)
                    </div>
                    <div class="form-group">
                            @Html.Label("Last Name")
                            <br />
                            @Html.TextBoxFor(x => x.LastName)
                    </div>
                    <div class="form-group">
                            @Html.Label("Phone Number")
                            <br />
                            @Html.TextBoxFor(x => x.phoneNumber)
                    </div>
                    <div class="form-group">
                            @Html.Label("Email")
                            <br />
                            @Html.TextBoxFor(x => x.Email)
                    </div>
                    <div class="form-group">
                            @Html.Label("Address")
                            <br />
                            @Html.TextBoxFor(x => x.address)
                    </div>
                    <div class="form-group">
                            @Html.Label("City")
                            <br />
                            @Html.TextBoxFor(x => x.city)
                    </div>
                    <div class="form-group">
                            @Html.Label("State")
                            <br />
                            @Html.DropDownListFor(x => x.state, li);
                    </div>
                    <div class="form-group">
                            @Html.Label("Zip")
                            <br />
                            @Html.TextBoxFor(x => x.zipcode)
                    </div>

                    <h2>Card Information</h2>
                    <div class="form-group">
                            @Html.Label("Card Number")
                            <br />
                            @Html.TextBoxFor(x => x.number)
                    </div>
                    <div class="form-group">>
                            @Html.Label("CVV")
                            <br />
                            @Html.TextBoxFor(x => x.cvv)
                    </div>
                    <div class="form-group">
                            @Html.Label("Expiration Date")
                            <br />
                            @Html.DropDownListFor(x => x.expMonth, li2) /
                            @Html.DropDownListFor(x => x.expYear, li3)
                    </div>
                    <br />
                    <input type="submit" value="Submit Payment" id="PaymentButton" />
                }
        </div>
    </body>
</html>

